body{
    margin: 0;
    padding: 0;
    
}
.header{
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: white;
    text-decoration: none;
}
.logo{
    letter-spacing: -7px;
    font-size: 1.4em;
    padding-left: 5px;
}
.menu-icon{
    padding-right: 3em;
    display: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #4a4a4a;
            }
.paragraph{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-15%) translateY(-50%);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 15px;
    font-size: 20px;
    text-align: justify;
    border: black 1px solid;
}
.myphoto{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateX(-20%) translateY(-50%);
    
}
.myphoto img{
    border-radius: 25px;
    width: 300px;

}

@media only screen and (max-width: 767px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
      
    .navigation ul li {
        display: block;
    }
      
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
    }
      
    .navigation ul li a:hover {
        background: #cc4444;

    }
    .paragraph{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-80%);
        padding: 0.5em 0.5em 0.5em 0.5em;
        width: 300px;
        height: 337px ;
        border-radius: 15px;
        font-size: 15px;
        text-align: justify;
        border: black 2px solid;
    }
    .myphoto{
        display: inline-block;
        top: 60%;
        left: 20%;
       
        
    }
    .myphoto img{
        width: 180px;
        display: none;
    }
}