body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header{
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header a{
    color: white;
    text-decoration: none;
}
.logo{
    letter-spacing: -7px;
    font-size: 1.4em;
    padding-left: 5px;
}
.menu-icon{
    padding-right: 3em;
    display: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #4a4a4a;
            }

    

.hola{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 70px;
}
.saludo{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: -80px;
}


@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    70%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 0.5;
    width: 50px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 70px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 55px;
}
.bubbles img:nth-child(4){
    animation-delay: 6s;
    width: 50px;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
    width: 55px;
}
.bubbles img:nth-child(6){
    animation-delay: 2s;
    width: 70px;
}
.bubbles img:nth-child(7){
    animation-delay: 5s;
    width: 55px;
}

@media only screen and (max-width: 767px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
      
    .navigation ul li {
        display: block;
    }
      
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
    }
      
    .navigation ul li a:hover {
        background: #cc4444;

    }
}
